page-page1 {

}

/*Roxo: #800080 ou 800080ff, #ae24b1
Verde: #a5cc38 ou a5cc38ff*/

.centralizado {

  text-align: center;
  font-family: serif;

}

#titulo {

  color: #ae24b1;
  margin-top: 10px;
  font-size: 40px;

}

#subtitulo {

  color: #a5cc38;
  line-height: 1px;
  margin-bottom: 30px;
  font-size: 20px;

}

.myP{

  color: #ae24b1;

}
